In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
articles = pd.read_csv('../Datasets/News articles/articles.txt', header=None, names=['text'], skiprows=1)
articles.head()

                                                text
0  Ride-sharing firm Uber is facing a criminal in...
1  The scrutiny has started because the firm is a...
2                                       The software
3  A spokesman for Uber declined to comment on th...
4   It is claimed greyball was used in several areas

In [20]:
import sys

In [21]:
np.set_printoptions(threshold=sys.maxsize)

In [38]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

C:\Users\l_san\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [53]:
articles.loc[0,'text']

'Ride-sharing firm Uber is facing a criminal investigation by the US government.'

In [43]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    103 non-null    object
dtypes: object(1)
memory usage: 952.0+ bytes

In [40]:
import re

In [65]:
match = re.match('Ride-', articles.loc[0,'text'])
print(match)

<re.Match object; span=(0, 5), match='Ride-'>

In [67]:
search = re.search('Uber', articles.loc[0,'text'])
search

In [68]:
articles.loc[1,'text']

'The scrutiny has started because the firm is accused of using "secret" software that let it operate in regions where it was banned or restricted.'

In [69]:
re.search('it', articles.loc[1,'text'])

In [70]:
re.findall('it', articles.loc[1,'text'])

['it', 'it']

In [72]:
print(re.match('cd', 'abcd'))

None

In [75]:
print(re.findall('\w', articles.loc[0,'text']))

['R', 'i', 'd', 'e', 's', 'h', 'a', 'r', 'i', 'n', 'g', 'f', 'i', 'r', 'm', 'U', 'b', 'e', 'r', 'i', 's', 'f', 'a', 'c', 'i', 'n', 'g', 'a', 'c', 'r', 'i', 'm', 'i', 'n', 'a', 'l', 'i', 'n', 'v', 'e', 's', 't', 'i', 'g', 'a', 't', 'i', 'o', 'n', 'b', 'y', 't', 'h', 'e', 'U', 'S', 'g', 'o', 'v', 'e', 'r', 'n', 'm', 'e', 'n', 't']

In [76]:
len(articles.loc[0,'text'].split(' '))

12

In [77]:
len(articles.loc[0,'text'])

79

In [97]:
print(re.findall('\w+', articles.loc[0,'text']))

['Ride', 'sharing', 'firm', 'Uber', 'is', 'facing', 'a', 'criminal', 'investigation', 'by', 'the', 'US', 'government']

### Fazit: Mit nur '\w' finde ich jeden einzelnen Buchstaben.

In [96]:
re.findall('\d', articles.loc[3,'text'])

[]

In [91]:
res=[]
for article in articles['text']:
    liste = (re.findall('\d+', article))
    if liste:
        res.append(liste)

In [92]:
res

[['20'],
 ['7'],
 ['1'],
 ['7', '3', '10', '2050'],
 ['2', '5', '1960'],
 ['1'],
 ['1950'],
 ['61'],
 ['23'],
 ['13']]

In [93]:
re.findall('\s', articles.loc[0,'text'])

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [94]:
re.findall('.*', articles.loc[0,'text'])

['Ride-sharing firm Uber is facing a criminal investigation by the US government.',
 '']

In [98]:
re.findall('.*', articles.loc[1,'text'])

['The scrutiny has started because the firm is accused of using "secret" software that let it operate in regions where it was banned or restricted.',
 '']

In [111]:
re.findall('\S+', articles.loc[0,'text'])[:5]

['Ride-sharing', 'firm', 'Uber', 'is', 'facing']

In [138]:
re.findall('\s+', artikel)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [129]:
re.findall('[A-Z]\w+', articles.loc[0,'text'])

['Ride', 'Uber', 'US']

In [127]:
artikel = articles.loc[0,'text']

In [128]:
re.findall('[a-z]+', artikel)

['ide',
 'sharing',
 'firm',
 'ber',
 'is',
 'facing',
 'a',
 'criminal',
 'investigation',
 'by',
 'the',
 'government']

In [141]:
monty = pd.read_csv('../Datasets/monty_python_script.csv', names=['text'])
monty.head()

                                          text
0  SCENE 1: [wind] [clop clop clop]
1  KING ARTHUR: Whoa there!  [clop clop clop]
2  SOLDIER #1: Halt!  Who goes there?
3  ARTHUR: It is I
4  SOLDIER #1: Pull the other one!

In [147]:
montyloc = monty.loc[2,'text']

In [148]:
print(re.findall(r'.*', montyloc))

['SOLDIER #1: Halt!  Who goes there?', '']

In [151]:
print(re.split(r'[!?.]', montyloc))

['SOLDIER #1: Halt', '  Who goes there', '']

In [153]:
print(re.findall('[A-Z]\w+', montyloc))

['SOLDIER', 'Halt', 'Who']

In [156]:
print(re.findall('\d', montyloc))

['1']

In [206]:
email = ['hozeplotz Spas-st@gmail.com']

In [162]:
from nltk.tokenize import word_tokenize

In [165]:
word_tokenize(monty.loc[2,'text'])

['SOLDIER', '#', '1', ':', 'Halt', '!', 'Who', 'goes', 'there', '?']

In [166]:
words = [word_tokenize(words) for words in monty['text']]

In [169]:
words[:3]

[['SCENE', '1', ':', '[', 'wind', ']', '[', 'clop', 'clop', 'clop', ']'],
 ['KING',
  'ARTHUR',
  ':',
  'Whoa',
  'there',
  '!',
  '[',
  'clop',
  'clop',
  'clop',
  ']'],
 ['SOLDIER', '#', '1', ':', 'Halt', '!', 'Who', 'goes', 'there', '?']]

In [171]:
from nltk.tokenize import sent_tokenize

In [172]:
print(sent_tokenize(montyloc))

['SOLDIER #1: Halt!', 'Who goes there?']

In [173]:
print(set(word_tokenize(montyloc)))

{'there', 'goes', 'Who', ':', 'Halt', '#', 'SOLDIER', '?', '!', '1'}

In [180]:
search= re.search('goes', montyloc)

In [181]:
print(search.start(), search.end())

23 27

In [183]:
montyloc[23:27]

'goes'

In [196]:
print(re.findall(r'\[.*]', 'hed de spasst es [Glück 0815] segi dier'))

['[Glück 0815]']

In [198]:
montyloc

'SOLDIER #1: Halt!  Who goes there?'

In [202]:
print(re.findall(r'(\w+ | \d+)', montyloc))

['SOLDIER ', 'Who ', 'goes ']

In [203]:
print(re.findall(r'(\d+ | \w+)', montyloc))

[' Halt', ' Who', ' goes', ' there']

In [219]:
print(re.findall('[A-Za-z]+', montyloc))

['SOLDIER', 'Halt', 'Who', 'goes', 'there']

In [205]:
email

['hozeplotz spas-st@gmail.com']

In [251]:
re.findall('[A-Za-z\-\@\.]+', 'also du haudi.a@gmail.com')

['also', 'du', 'haudi.a@gmail.com']

In [218]:
re.findall('[A-Za-z\-\.]+' ,'da en gueti website Pos-itiv.com')

['da', 'en', 'gueti', 'website', 'Pos-itiv.com']

In [230]:
re.findall('([A-Za-z\-\.\@]+)', 'Al-so@gmail.com')

['Al-so@gmail.com']

In [231]:
re.findall('([A-Za-z\-\.]+)', 'Al-so@gmail.com')

['Al-so', 'gmail.com']

In [220]:
montyloc

'SOLDIER #1: Halt!  Who goes there?'

In [235]:
re.findall('(\S+)', montyloc)

['SOLDIER', '#1:', 'Halt!', 'Who', 'goes', 'there?']

In [240]:
rand= 'text mit 71693 komma, und witere 23 '

In [242]:
re.match('[a-z0-9]+',rand)

In [245]:
re.match('[a-z\0-9]+',rand)

In [247]:
re.search('[a-z 0-9]+', rand)

In [244]:
re.search('[a-z\0-9]+',rand)

In [248]:
email

['hozeplotz Spas-st@gmail.com']

In [252]:
re.search('[A-Za-z]+\-\[A-Za-z]+@gmail\.com', email)

TypeError: expected string or bytes-like object

In [253]:
rand2 = 'SOLDIER #1: Found them? in Merca? The coconut!'

In [262]:
print(re.search((r'\w+|#\d|\?|!'), rand2))

<re.Match object; span=(0, 7), match='SOLDIER'>

In [265]:
tweets = ['This is the best #nlp exercise ive found online! #python', '#NLP is super fun! <3 #learning', 'Thanks @datacamp :) #nlp #python']

In [267]:
tweets

['This is the best #nlp exercise ive found online! #python',
 '#NLP is super fun! <3 #learning',
 'Thanks @datacamp :) #nlp #python']

In [268]:
from nltk.tokenize import regexp_tokenize
from nltk.tokenize import TweetTokenizer

In [269]:
print(regexp_tokenize(tweets[0], '\#\w+'))

['#nlp', '#python']

In [270]:
print(regexp_tokenize(tweets[-1], '\#\w+ | \@\w+'))

[' @datacamp', '#nlp ']

In [271]:
print(regexp_tokenize(tweets[-1], '[@ | #]\w+'))

['@datacamp', '#nlp', '#python']

In [273]:
tweet_tk = TweetTokenizer()

In [276]:
print(tweet_tk.tokenize(tweets[-1]))

['Thanks', '@datacamp', ':)', '#nlp', '#python']

In [277]:
print(regexp_tokenize(tweets[0], '[A-Z]\w+'))

['This']

In [289]:
token_tweets = [word_tokenize(zeile) for zeile in tweets]
words

[['This',
  'is',
  'the',
  'best',
  '#',
  'nlp',
  'exercise',
  'ive',
  'found',
  'online',
  '!',
  '#',
  'python'],
 ['#', 'NLP', 'is', 'super', 'fun', '!', '<', '3', '#', 'learning'],
 ['Thanks', '@', 'datacamp', ':', ')', '#', 'nlp', '#', 'python']]

In [291]:
token_tweets[0]

['This',
 'is',
 'the',
 'best',
 '#',
 'nlp',
 'exercise',
 'ive',
 'found',
 'online',
 '!',
 '#',
 'python']

In [298]:
lenght = [len(tweet) for tweet in token_tweets[0]]

TypeError: 'list' object is not callable

In [299]:
plt.bar(length)

NameError: name 'length' is not defined

In [300]:
monty.head()

                                          text
0  SCENE 1: [wind] [clop clop clop]
1  KING ARTHUR: Whoa there!  [clop clop clop]
2  SOLDIER #1: Halt!  Who goes there?
3  ARTHUR: It is I
4  SOLDIER #1: Pull the other one!